section.about.section(id="about" data-section="about")
    .container
        .about__information
            h3 <span>What</span> We Do?
            h4 <span>What</span> We Do?
            h6 <span>Snapflixx</span> allows influential social media <br> icons to monetize from their Snapchat stories.
            p.about__text If you have a private account we create and manage a paid membership account for your followers who want access to your exclusive stories.
            button.button.button__about Learn more