section.download
    .download__arrow
        a.download__icon(href="#icons")
            img(src="images/arrow.png", alt="arrow")

    .container
        h2.download__title Do you want start now?
        p.download__text Fast downloads can help you!
        button.button.download__button 
            i(class="fa fa-download" aria-hidden="true")
            span.button_text Download now