footer.footer
    .container
        .footer__box 
            .footer__left Snapfixx
            .footer__center
                ul
                    li Privacy policy
                    li Terms &amp; conditios
                    li Support
                p <span>Snapfixx</span> 2016 &copy; All Right Reserved 
            .footer__right
                address.info
                    a(href="info@snapfixx.com") info@snapfixx.com
                    p +213-4321-221
                    span Design by Alina Keehl 