section.icons(id="icons")
    .container
        ul.icons__list
            li.icons__item
                .icons__border.icons__border--active
                    .icon.icon__1
                    p.icons__description Sign up free your Email, <br>Name and Phone number            
            li.icons__item
                .icons__border
                    .icon.icon__2
                    p.icons__description Let us do the work. We create a link for your followers to purchase a monthly membership to view your private Snapchat account
            li.icons__item
                .icons__border
                    .icon.icon__3
                    p.icons__description We give you Snapchat usernames of your followers who purchased a monthly AnapFlixx membership with you. Add them on Snapchat so they can view your exclusive stories.
            li.icons__item
                .icons__border
                    .icon.icon__4
                    p.icons__description We send your <br>monthly earnings