section.service
    img.service__img(src="images/mockup.png", alt="Picture")
    .service__top
    .service__center
    .service__bottom
        .container
            h3.service__title Join us
            ul.service__list
                li.service__text
                    span More than 1000 users
                    p Already with us!
                li.service__text
                    span Convenient service
                    p For you and your customers
                li.service__text
                    span It works on all platforms
                    p IOS, Android, Windows