section.what__people__say.section(id="what_people_say" data-section="what_people_say")
    .container
        .what__people__say__wrap
            h3 Testimonials
            h4 <span>What</span> People Say
            .slider
                .slider__slide
                    .slider__wrap
                        p.left “
                        span I fell in love with the service from the first use of it! I very happy with it and I advise everyone to take advantage of them!
                        p.right ”
                    .slider__author
                        img(src="images/photo.png", alt="Author")
                        hr
                        span Mary Smith, artist
                        
                .slider__slide
                    .slider__wrap
                        p.left “
                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias et mollitia adipisci dignissimos. Eos asperiores unde natus odit. Magni, maiores!
                        p.right ”
                    .slider__author
                        img(src="images/photo.png", alt="Author")
                        hr
                        span Mary Smith, artist
                
                .slider__slide
                    .slider__wrap
                        p.left “
                        span Lorem elit. Harum nobis accusamus ipsa, ducimus ad magnam architecto itaque cupiditate. Nihil placeat similique magnam maxime consectetur eius ut optio rerum explicabo doloribus!
                        p.right ”
                    .slider__author
                        img(src="images/photo.png", alt="Author")
                        hr
                        span Mary Smith, artist