doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/slick.css")
        link(rel="stylesheet", href="css/slick-theme.css")
        link(rel="stylesheet", href="css/main.css")
        
        title Snappfixx
    body
        include sections/header
        include sections/hero
        include sections/download
        include sections/about
        include sections/icons
        include sections/service
        include sections/what__people__say
        include sections/footer

        script(src="js/main.min.js")