@font-face {
    font-family: "Reef";
    src: url("../fonts/Reef.otf");
  }
  @font-face {
    font-family: "Sitka";
    src: url("../fonts/sitka.ttf");
  }
  @font-face {
    font-family: "LuganskiyV";
    src: url("../fonts/LuganskiyV.otf");
  }
  @font-face {
    font-family: "Kartika";
    src: url("../fonts/kartika.ttf");
  }
  @font-face {
    font-family: "Calibri";
    src: url("../fonts/calibri.ttf");
  }
  @font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold.ttf");
  }
  @font-face {
    font-family: "RalewayLight";
    src: url("../fonts/RalewayLight.ttf");
  }
  @font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium.ttf");
  }
  @font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular.ttf");
  }
  @font-face {
    font-family: "RalewaySemiBold";
    src: url("../fonts/RalewaySemiBold.ttf");
  }
  @font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold.ttf");
  }
  @font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight.ttf");
  }
  @font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium.ttf");
  }
  @font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular.ttf");
  }
  @font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUIBold.ttf");
  }
  